﻿<!DOCTYPE html>
<html>
<head>
    <title> Thông tin đơn hàng mới từ khách hàng: {{Email}}</title>
    <meta charset="utf-8" />
</head>
<body>
    <div style="height: 55px;background: #442DB9;padding: 10px">
        <img src="{{pathToFile}}" height="55"alt="logo">
    </div>
    Hi: {{Fullname}}!!
     <br />
     <p>Congratulations on your successful order,We have received the order, will contact you as soon as possible...</p>
     <p>Order code: {{Note}}</p>
    <table style="width: 100%;text-align: center;border-collapse: collapse;">
        <thead>
            <tr>
                <td style=" border: 1px solid black;padding:10px">Image product</td>
                <td style=" border: 1px solid black;padding: 10px">Product's name</td>
                <td style=" border: 1px solid black;padding: 10px">Product code</td>
                <td style=" border: 1px solid black;padding: 10px">Into money</td>
            </tr>
        </thead>
            <tr>
                <td style=" border: 1px solid black;padding:10px"><img src="{{Image}}" width="200" /><br /></td>
                <td style=" border: 1px solid black;padding:10px">{{ProName}}</td>
                <td style=" border: 1px solid black;padding:10px">{{ProCode}}</td>
                <td style=" border: 1px solid black;padding:10px">{{Total}}</td>
            </tr>      
    </table>
    <p>total money: {{Total}} USD</p>
    <p>Thank you..!</p>
</body>
</html>