﻿@using CustomerClient.Models.Entity
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from pixner.net/sbidu/main/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Dec 2020 06:45:04 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <title>@Page.Title</title>
    @RenderSection("head", required: false)

    <link rel="stylesheet" href="~/Assets/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/assets/css/all.min.css">
    <link rel="stylesheet" href="~/Assets/assets/css/animate.css">
    <link rel="stylesheet" href="~/Assets/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/Assets/assets/css/owl.min.css">
    <link rel="stylesheet" href="~/Assets/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Assets/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/Assets/assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Assets/assets/css/main.css">

    <link rel="shortcut icon" href="~/Assets/assets/images/favicon.png" type="image/x-icon">
    <style>
        .error{
            color:red !important;
            width:100% !important;
            position:static !important;
            box-shadow:none !important;
            background:none !important;
            font-weight:bold !important;
            text-align:left !important;
        }
    </style>
</head>

<body>
    <!--============= ScrollToTop Section Starts Here =============-->
    <div class="overlayer" id="overlayer">
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
    </div>
    @{
        UserManuals us = new UserManuals();
        CustomerSuport cusSuport = new CustomerSuport();
        var dataUserManu = us.GetAll().Where(x => x.Status == 1);
        var dataCusSuport = cusSuport.GetAll().Where(x => x.Status == 1);
    }
    <a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    <div class="overlay"></div>
    <!--============= ScrollToTop Section Ends Here =============-->
    <!--============= Header Section Starts Here =============-->
    <header>
        <div class="header-top">
            <div class="container">
                <div class="header-top-wrapper">
                    <ul class="customer-support">
                        <li>
                            <a href="#0" class="mr-3"><i class="fas fa-phone-alt"></i><span class="ml-2 d-none d-sm-inline-block">Customer Support</span></a>
                        </li>

                    </ul>
                    <ul class="cart-button-area">
                        @if (Session["loginCustomer"] != null)
                        {
                            <li>
                                @*<a href="#0" class="cart-button"><i class="flaticon-shopping-basket"></i><span class="amount">08</span></a>*@
                            </li>
                            <li>

                                <a href="@Url.Action("Index","Customer",new { id = (Session["loginCustomer"] as Customer).ID})" class="user-button"><i class="flaticon-user"></i>  </a><span style="color:#ffffff"> @((Session["loginCustomer"] as Customer).Email)</span>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("Login","Home")" class="user-button"><i class="flaticon-user"></i></a><span style="color:#ffffff">Login</span>
                            </li>

                        }

                    </ul>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="header-wrapper">
                    <div class="logo">
                        <a href="index.html">
                            <img src="~/Assets/assets/images/logo/logo.png" alt="logo">
                        </a>
                    </div>
                    <ul class="menu ml-auto">
                        <li>
                            <a href="@Url.Action("Index","Home")">Home</a>

                        </li>
                        <li>
                            <a href="@Url.Action("GetAll","ProductAuction")">Auction</a>
                        </li>
                        <li>
                            <a href="#0">Pages</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#0">Instructions for use</a>
                                    <ul class="submenu">
                                        @foreach (var itemus in dataUserManu)
                                        {
                                            <li>
                                                <a href="@Url.Action("UserManuals","Home",new { id = itemus.ID })">@itemus.Title</a>
                                            </li>
                                        }

                                    </ul>
                                </li>
                                <li>
                                    <a href="#0">Customer support</a>
                                    <ul class="submenu">
                                        @foreach (var itemSuport in dataCusSuport)
                                        {
                                            <li>
                                                <a href="@Url.Action("Support","Home",new { id =  itemSuport.ID})">@itemSuport.Title</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                              
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Feedback","Home")">Contact</a>
                        </li>
                    </ul>

                    <div class="header-bar d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--============= Header Section Ends Here =============-->
    <!--============= Cart Section Starts Here =============-->
    @RenderBody()
    <!--============= Client Section Ends Here =============-->
    <!--============= Footer Section Starts Here =============-->
    <footer class="bg_img padding-top oh" data-background="https://localhost:44376/Assets/assets/images/footer/footer-bg.jpg">
        <div class="footer-top-shape">
            <img src="~/Assets/assets/css/img/footer-top-shape.png" alt="css">
        </div>
        <div class="anime-wrapper">
            <div class="anime-1 plus-anime">
                <img src="~/Assets/assets/images/footer/p1.png" alt="footer">
            </div>
            <div class="anime-2 plus-anime">
                <img src="~/Assets/assets/images/footer/p2.png" alt="footer">
            </div>
            <div class="anime-3 plus-anime">
                <img src="~/Assets/assets/images/footer/p3.png" alt="footer">
            </div>
            <div class="anime-5 zigzag">
                <img src="~/Assets/assets/images/footer/c2.png" alt="footer">
            </div>
            <div class="anime-6 zigzag">
                <img src="~/Assets/assets/images/footer/c3.png" alt="footer">
            </div>
            <div class="anime-7 zigzag">
                <img src="~/Assets/assets/images/footer/c4.png" alt="footer">
            </div>
        </div>
        <div class="newslater-wrapper">
            <div class="container">
                <div class="newslater-area">
                    <div class="newslater-thumb">
                        <img src="~/Assets/assets/images/footer/newslater.png" alt="footer">
                    </div>
                    <div class="newslater-content">
                        <div class="section-header left-style mb-low">
                            <h5 class="cate">Subscribe to Sbidu</h5>
                            <h3 class="title">To Get Exclusive Benefits</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer-top padding-bottom padding-top">
            <div class="container">
                <div class="row mb--60">
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-widget widget-links">
                            <h5 class="title">Instructions for use</h5>

                            <ul class="links-list">
                                @foreach (var itemus in dataUserManu)
                                {
                                    <li>
                                        <a href="@Url.Action("UserManuals","Home",new { id = itemus.ID })">@itemus.Title</a>
                                    </li>
                                }


                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-widget widget-links">

                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-widget widget-links">
                            <h5 class="title">
                                Customer support
                            </h5>
                            <ul class="links-list">
                                @foreach (var itemSuport in dataCusSuport)
                                {
                                    <li>
                                        <a href="@Url.Action("Support","Home",new { id =  itemSuport.ID})">@itemSuport.Title</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-widget widget-follow">
                            <h5 class="title">Follow Us</h5>
                            <ul class="links-list">
                                <li>
                                    <a href="#0"><i class="fas fa-phone-alt"></i>(646) 663-4575</a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fas fa-blender-phone"></i>(646) 968-0608</a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fas fa-envelope-open-text"></i>help@engotheme.com</a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fas fa-location-arrow"></i>1201 Broadway Suite</a>
                                </li>
                            </ul>
                            <ul class="social-icons">
                                <li>
                                    <a href="#0" class="active"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="copyright-area">
                    <div class="footer-bottom-wrapper">
                        <div class="logo">
                            <a href="index.html"><img src="~/Assets/assets/images/logo/footer-logo.png" alt="logo"></a>
                        </div>
                        <ul class="gateway-area">
                            <li>
                                <a href="#0"><img src="~/Assets/assets/images/footer/paypal.png" alt="footer"></a>
                            </li>
                            <li>
                                <a href="#0"><img src="~/Assets/assets/images/footer/visa.png" alt="footer"></a>
                            </li>
                            <li>
                                <a href="#0"><img src="~/Assets/assets/images/footer/discover.png" alt="footer"></a>
                            </li>
                            <li>
                                <a href="#0"><img src="~/Assets/assets/images/footer/mastercard.png" alt="footer"></a>
                            </li>
                        </ul>
                        <div class="copyright"><p>&copy; Copyright 2020 | <a href="#0">Sbidu</a> By <a href="#0">Uiaxis</a></p></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--============= Footer Section Ends Here =============-->



    <script src="~/Assets/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="~/Assets/assets/js/plugins.js"></script>
    <script src="~/Assets/assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/Assets/assets/js/wow.min.js"></script>
    <script src="~/Assets/assets/js/waypoints.js"></script>
    <script src="~/Assets/assets/js/nice-select.js"></script>
    <script src="~/Assets/assets/js/counterup.min.js"></script>
    <script src="~/Assets/assets/js/owl.min.js"></script>
    <script src="~/Assets/assets/js/magnific-popup.min.js"></script>
    <script src="~/Assets/assets/js/yscountdown.min.js"></script>
    <script src="~/Assets/assets/js/jquery-ui.min.js"></script>
    <script src="~/Assets/assets/js/main.js"></script>
    <script src="~/Assets/assets/sweetjs.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    @RenderSection("scripts", false);
</body>


<!-- Mirrored from pixner.net/sbidu/main/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Dec 2020 06:45:47 GMT -->
</html>


