﻿


<div class="row">
    <div class="col-12">
        <div class="dash-pro-item mb-30 dashboard-widget">
            <div class="header">
                <h4 class="title">Personal Details</h4>
                <span class="edit"><i class="flaticon-edit"></i> Edit</span>
            </div>
            <ul class="dash-pro-body">
                <li>
                    <div class="info-name">Name</div>
                    <div class="info-value">@ViewBag.profile.FullName</div>
                </li>
                <li>
                    <div class="info-name">CMND</div>
                    <div class="info-value">@ViewBag.profile.CMND</div>
                </li>
                <li>
                    <div class="info-name">Address</div>
                    <div class="info-value">@ViewBag.profile.Address</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12">
        <div class="dash-pro-item mb-30 dashboard-widget">
            <div class="header">
                <h4 class="title">Account Settings</h4>

            </div>
            <ul class="dash-pro-body">
                <li>
                    <div class="info-name">Language</div>
                    <div class="info-value">Viet Nam</div>
                </li>
                <li>
                    <div class="info-name">Time Zone</div>
                    <div class="info-value">(GMT-06:00) Ha Noi</div>
                </li>
                <li>
                    <div class="info-name">Status</div>
                    @if (ViewBag.profile.Status == 1)
                    {
                        <div class="info-value"><i class="flaticon-check text-success"></i> Active</div>

                    }
                    else
                    {
                        <div class="info-value"><i class="fas fa-times"></i> failed</div>
                    }
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12">
        <div class="dash-pro-item mb-30 dashboard-widget">
            <div class="header">
                <h4 class="title">Email Address</h4>
                <span class="edit"><i class="flaticon-edit"></i> Edit</span>
            </div>
            <ul class="dash-pro-body">
                <li>
                    <div class="info-name">Email</div>
                    <div class="info-value">@ViewBag.profile.Email</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12">
        <div class="dash-pro-item mb-30 dashboard-widget">
            <div class="header">
                <h4 class="title">Phone</h4>
                <span class="edit"><i class="flaticon-edit"></i> Edit</span>
            </div>
            <ul class="dash-pro-body">
                <li>
                    <div class="info-name">Mobile</div>
                    <div class="info-value">@ViewBag.profile.PhoneNumber</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12">
        <div class="dash-pro-item dashboard-widget">
            <div class="header">
                <h4 class="title">Security</h4>
                <span class="edit"><i class="flaticon-edit"></i> Edit</span>
            </div>
            <ul class="dash-pro-body">
                <li>
                    <div class="info-name">Password</div>
                    <div class="info-value">xxxxxxxxx</div>
                </li>
            </ul>
        </div>
    </div>
</div>
