﻿

<div class="modal-dialog" role="document" style="max-width:900px !important;">
    <div class="modal-content" style="width:900px;">
        @*<div class="modal-header">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="modal-title" id="exampleModalLabel">Order</h5>

                </div>
               

            </div>

        </div>*@
        @using (Html.BeginForm("UpdateOrder", "Customer", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formAdd", @Class = "contact-form" }))
        {
          
           
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="dash-pro-item mb-30 dashboard-widget">
                    <div class="header">
                        <h4 class="title">Order Details</h4>
                    </div>
                    <ul class="dash-pro-body">
                        <li>
                            <div class="info-name">Order code</div>
                            <div class="info-value">@ViewBag.OrderData.ID</div>
                        </li>
                        <li>
                            <div class="info-name">Product name</div>
                            <div class="info-value">@ViewBag.OrderData.Auction.ProductAuction.ProName</div>
                        </li>
                        <li>
                            <div class="info-name">Product code</div>
                            <div class="info-value">@ViewBag.OrderData.Auction.ProductAuction.ID</div>
                        </li>
                        <li>
                            <div class="info-name">Total price</div>
                            <div class="info-value">$@Convert.ToDecimal(ViewBag.OrderData.TotalPrice).ToString("#,##0")</div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <input type="hidden" readonly="" name="id" class="form-control" value="@ViewBag.OrderData.ID" placeholder="Enter Receiver">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label><i class="fas fa-envelope-open-text"></i></label>
                    <input type="text" name="email"  placeholder="Enter Email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label><i class="far fa-user"></i></label>
                    <input type="text" name="receiver"  placeholder="Enter Receiver ..">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label><i class="fas fa-envelope-open-text"></i></label>
                    <input type="number" name="phone" placeholder="Enter Phone">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="message" style="margin-top:15px;"><i class="far fa-envelope"></i></label>
                    <select name="payment"  id="message" style="padding: 5px 50px 0;height: 60px;border-bottom: 1px solid #bccaea !important;border:0px">
                        <option value="1">Giao Hàng Thanh Toán</option>
                        <option value="2">Thanh Toán Online</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="message"><i class="far fa-envelope"></i></label>
            <textarea name="note" id="message" placeholder="Note your..."></textarea>
        </div>
    </div>
    <div class="modal-footer">
       
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group  mb-0">
                        <button type="submit" class="custom-button">Send Order</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group  mb-0 text-right">
                        <button type="button" class="custom-button" style="background: -webkit-linear-gradient(90deg, #f53d3d 0%, #683df5 100%);" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        }
    </div>
</div>