﻿@using CustomerClient.Models.Entity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="cart-sidebar-area">
    <div class="top-content">
        <a href="index.html" class="logo">
            <img src="~/Assets/assets/images/logo/logo2.png" alt="logo">
        </a>
        <span class="side-sidebar-close-btn"><i class="fas fa-times"></i></span>
    </div>
    <div class="bottom-content">

    </div>
</div>

<div class="hero-section style-2">
    <div class="container">
        <ul class="breadcrumb">
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="https://localhost:44300/Assets/assets/images/banner/hero-bg.png" style="        background-image: url(&quot;https://localhost:44300/Assets/assets/images/banner/hero-bg.png&quot;);"></div>
</div>

<section class="dashboard-section padding-bottom mt--240 mt-lg--440 pos-rel">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-7 col-lg-4">
                <div class="dashboard-widget mb-30 mb-lg-0 sticky-menu">
                    <div class="user">
                        <div class="thumb-area">
                            <div class="thumb">
                                <img src="~/Assets/assets/images/dashboard/user.png" alt="user">
                            </div>
                            <label for="profile-pic" class="profile-pic-edit"><i class="flaticon-pencil"></i></label>
                            <input type="file" id="profile-pic" class="d-none">
                        </div>
                        <div class="content">
                            <h5 class="title"><a href="#0">@((Session["loginCustomer"] as Customer).FullName)</a></h5>
                            <span class="username">@((Session["loginCustomer"] as Customer).Email)</span>
                        </div>
                    </div>
                    <ul class="dashboard-menu">
                        <li>
                            <a href="javascript:void(0)" onclick="Dasboarh()"><i class="flaticon-dashboard"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="Profile(@((Session["loginCustomer"] as Customer).ID))"><i class="flaticon-settings"></i>Personal Profile </a>
                        </li>
                      
                        <li>
                            <a href="@Url.Action("MyOrder","Customer",new {id = (Session["loginCustomer"] as Customer).ID })"><i class="flaticon-shake-hand"></i>My Order's</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Logout","Home")"><i class="fas fa-sign-out-alt" style="font-weight:0 !important;"></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class=" col-lg-8" id="content-saleman">
                <div class="dashboard-widget mb-40">

                </div>
                <div class="dashboard-widget">
                    <h5 class="title mb-10">Dashboard</h5>
                    <div class="dashboard-purchasing-tabs">
                        <ul class="nav-tabs nav">
                            <li>
                                <a href="#current" class="active" data-toggle="tab">Auction</a>
                            </li>
                            <li>
                                <a href="#pending" data-toggle="tab">My Order</a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane show active fade" id="current">
                                <table class="purchasing-table">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Highest Bid</th>
                                            <th>Bid Price</th>
                                            <th>Lowest Bid</th>
                                            <th>Date time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.AuctionAll)
                                        {
                                            <tr>
                                                @{
                                                    Auction auction = new Auction();
                                                    var stClass = "";
                                                    var stValue = "";
                                                    if (item.Status != null)
                                                    {
                                                        stClass = auction.AuctionStatusClass(item.Status);
                                                        stValue = auction.AuctionStatus(item.Status);
                                                    }
                                                    else
                                                    {
                                                        stClass = "badge badge-primary";
                                                        stValue = "waiting";
                                                    }



                                                    var pricehighest = auction.AucPriceDESC(item.ProAutionID);
                                                }
                                                <td data-purchase="item"><a style="color:#000" href="@Url.Action("Details","ProductAuction",new { id = item.ProAutionID })">@item.ProductAuction.ID</a> </td>
                                                <td data-purchase="bid price">$@Convert.ToDecimal(pricehighest.Price).ToString("#,##0.0")</td>
                                                <td data-purchase="highest bid">$@Convert.ToDecimal(item.Price).ToString("#,##0.0")</td>
                                                <td data-purchase="lowest bid"><p class="@stClass">@stValue</p></td>

                                                <td data-purchase="expires">@item.Created</td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane show fade" id="pending">
                                <table class="purchasing-table">
                                    <thead>
                                        <tr>
                                            <th>Orders code</th>
                                            <th>Product Auction</th>
                                            <th>Total Price</th>
                                            <th>Status</th>
                                           

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var order in ViewBag.Order0)
                                        {
                                        <tr>
                                            @{
                                                Order od = new Order();
                                                var st_value = od.OrderSt(order.status);
                                                var st_class = od.OrderStClass(order.status);
                                            }
                                            <td>@order.ID</td>
                                            <td>@order.Auction.ProductAuction.ID</td>
                                            <td>$@Convert.ToDecimal(order.TotalPrice).ToString("#,##0.0")</td>
                                            <td><span class="@st_class">@st_value</span></td>
                                            
                                        </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
             
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>

         $(function () {
                    var sss = '@TempData["Success"]';
                    var err = '@TempData["Errors"]';
                    console.log(sss);
             if (sss != '') {
                 alert(sss);
                    swal(sss, "Hãy xác nhận để tiếp tục!", "success");
                    }
             if (err != '') {
                 alert(err);
                    swal(err, "...and here's the text!");
             }

         })
        function MyBils(id) {
            $.ajax({
                type: 'GET',
                url: 'Home/MyBids/' + id,
                success: function (res) {
                    $("#content-saleman").html(res);
                }
            })
        }
        function Profile(id) {
            $.ajax({
                type: 'GET',
                url: '../PersonalProfile/' + id,
                success: function (res) {
                    $("#content-saleman").html(res);
                }
            })
        }
        function Dasboarh() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Index","Home")',
                success: function () {
                    location.reload();
                }
            })
        }
    </script>
}

