﻿@using PagedList;
@using PagedList.Mvc;
@using CustomerClient.Models.Entity;
@{
    ViewBag.Title = "MyOrder";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="cart-sidebar-area">
    <div class="top-content">
        <a href="index.html" class="logo">
            <img src="~/Assets/assets/images/logo/logo2.png" alt="logo">
        </a>
        <span class="side-sidebar-close-btn"><i class="fas fa-times"></i></span>
    </div>
    <div class="bottom-content">

    </div>
</div>

<div class="hero-section style-2">
    <div class="container">
        <ul class="breadcrumb">
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="https://localhost:44300/Assets/assets/images/banner/hero-bg.png" style="background-image: url(&quot;https://localhost:44300/Assets/assets/images/banner/hero-bg.png&quot;);"></div>
</div>

<section class="dashboard-section padding-bottom mt--240 mt-lg--440 pos-rel">
    <div class="container">
        <div class="row justify-content-center">

            <div class=" col-lg-12" id="content-saleman">
                <div class="dashboard-widget mb-40">
                    <div class="dashboard-title mb-30">
                        <h5 class="title">My Activity</h5>
                    </div>
                    <div class="row justify-content-center mb-30-none">
                        <div class="col-md-3 col-sm-6">
                            <div class="dashboard-item">
                                <div class="thumb">
                                    <img src="~/Assets/assets/images/dashboard/01.png" alt="dashboard">
                                </div>
                                <div class="content">
                                    <h2 class="title"><span class="counter">@ViewBag.StCount0</span></h2>
                                    <h6 class="info">Wait for confirmation</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="dashboard-item">
                                <div class="thumb">
                                    <img src="~/Assets/assets/images/dashboard/02.png" alt="dashboard">
                                </div>
                                <div class="content">
                                    <h2 class="title"><span class="counter">@ViewBag.StCount1</span></h2>
                                    <h6 class="info">Waiting for delivery</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="dashboard-item">
                                <div class="thumb">
                                    <img src="~/Assets/assets/images/dashboard/03.png" alt="dashboard">
                                </div>
                                <div class="content">
                                    <h2 class="title"><span class="counter">@ViewBag.StCount2</span></h2>
                                    <h6 class="info">Being transported</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="dashboard-item">
                                <div class="thumb">
                                    <img src="~/Assets/assets/images/dashboard/01.png" alt="dashboard">
                                </div>
                                <div class="content">
                                    <h2 class="title"><span class="counter">@ViewBag.StCount3</span></h2>
                                    <h6 class="info">Complete</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-widget">
                    <h5 class="title mb-10">My Order</h5>
                    <div class="dashboard-purchasing-tabs">
                        <ul class="nav-tabs nav">
                            <li>
                                <a href="#pending" class="active" data-toggle="tab">All</a>
                            </li>
                            <li>
                                <a href="#st0" data-toggle="tab">Wait for confirmation</a>
                            </li>
                            <li>
                                <a href="#st1" data-toggle="tab">Waiting for delivery</a>
                            </li>
                            <li>
                                <a href="#st2" data-toggle="tab">Being transported</a>
                            </li>
                            <li>
                                <a href="#st3" data-toggle="tab">Complete</a>
                            </li>
                            <li>
                                <a href="#st4" data-toggle="tab">Cancel</a>
                            </li>
                        </ul>
                        <div class="tab-content">

                            <div class="tab-pane show active fade" id="pending">
                                <table class="purchasing-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Orders code</th>
                                            <th>Product Auction</th>
                                            <th>Total Price</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int i = 0;}
                                        @foreach (var order in ViewBag.OrderAll)
                                        {
                                            <tr>
                                                <td data-purchase="item"> @{i++;} @i</td>
                                                <td data-purchase="bid price">@order.ID</td>
                                                <td data-purchase="highest bid"><a href="@Url.Action("Details", "ProductAuction", new { id = order.Auction.ProductAuction.ID })"><img src="@order.Auction.ProductAuction.Image" style="width:70px" /></a></td>
                                                @{
                                                    Order od = new Order();
                                                    var st_value = od.OrderSt(order.status);
                                                    var st_class = od.OrderStClass(order.status);
                                                }
                                            <td data-purchase="lowest bid">$@Convert.ToDecimal(order.TotalPrice).ToString("#,##0.0")</td>
                                                <td data-purchase="expires"><span class="@st_class">@st_value</span></td>
                                                <td>
                                                    @if (order.status == 0)
                                                    {
                                                    <p onclick="GetOrder(@order.ID)" class="btn  btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                                                        Order
                                                    </p>
                                                    }

                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>

                            </div>
                            <div class="tab-pane show fade" id="st0">
                                <table class="purchasing-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Orders code</th>
                                            <th>Product Auction</th>
                                            <th>Total Price</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int i0 = 0;}
                                        @foreach (var order in ViewBag.Order0)
                                        {
                                        <tr>
                                            <td data-purchase="item"> @{i0++;} @i0</td>
                                            <td data-purchase="bid price">@order.ID</td>
                                            <td data-purchase="highest bid"><a href="@Url.Action("Details", "ProductAuction", new { id = order.Auction.ProductAuction.ID })"><img src="@order.Auction.ProductAuction.Image" style="width:70px" /></a></td>
                                            @{
                                                Order od = new Order();
                                                var st_value = od.OrderSt(order.status);
                                                var st_class = od.OrderStClass(order.status);
                                            }
                                        <td data-purchase="lowest bid">$@Convert.ToDecimal(order.TotalPrice).ToString("#,##0.0")</td>
                                            <td data-purchase="expires"><span class="@st_class">@st_value</span></td>
                                            <td>
                                                @if (order.status == 0)
                                                {
                                                <p onclick="GetOrder(@order.ID)" class="btn  btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                                                    Order
                                                </p>
                                                }

                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane show fade" id="st1">
                                <table class="purchasing-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Orders code</th>
                                            <th>Product Auction</th>
                                            <th>Total Price</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int i1 = 0;}
                                        @foreach (var order in ViewBag.Order1)
                                        {
                                        <tr>
                                            <td data-purchase="item"> @{i1++;} @i1</td>
                                            <td data-purchase="bid price">@order.ID</td>
                                            <td data-purchase="highest bid"><a href="@Url.Action("Details", "ProductAuction", new { id = order.Auction.ProductAuction.ID })"><img src="@order.Auction.ProductAuction.Image" style="width:70px" /></a></td>
                                            @{
                                                Order od = new Order();
                                                var st_value = od.OrderSt(order.status);
                                                var st_class = od.OrderStClass(order.status);
                                            }
                                        <td data-purchase="lowest bid">$@Convert.ToDecimal(order.TotalPrice).ToString("#,##0.0")</td>
                                            <td data-purchase="expires"><span class="@st_class">@st_value</span></td>
                                            <td>
                                                @if (order.status == 0)
                                                {
                                                <p onclick="GetOrder(@order.ID)" class="btn  btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                                                    Order
                                                </p>
                                                }

                                            </td>
                                        </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane show fade" id="st2">
                                <table class="purchasing-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Orders code</th>
                                            <th>Product Auction</th>
                                            <th>Total Price</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int i2 = 0;}
                                        @foreach (var order in ViewBag.Order2)
                                        {
                                        <tr>
                                            <td data-purchase="item"> @{i2++;} @i2</td>
                                            <td data-purchase="bid price">@order.ID</td>
                                            <td data-purchase="highest bid"><a href="@Url.Action("Details", "ProductAuction", new { id = order.Auction.ProductAuction.ID })"><img src="@order.Auction.ProductAuction.Image" style="width:70px" /></a></td>
                                            @{
                                                Order od = new Order();
                                                var st_value = od.OrderSt(order.status);
                                                var st_class = od.OrderStClass(order.status);
                                            }
                                        <td data-purchase="lowest bid">$@Convert.ToDecimal(order.TotalPrice).ToString("#,##0.0")</td>
                                            <td data-purchase="expires"><span class="@st_class">@st_value</span></td>
                                            <td>
                                                @if (order.status == 0)
                                                {
                                                <p onclick="GetOrder(@order.ID)" class="btn  btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                                                    Order
                                                </p>
                                                }

                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @*st3*@
                            <div class="tab-pane show fade" id="st3">
                                <table class="purchasing-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Orders code</th>
                                            <th>Product Auction</th>
                                            <th>Total Price</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int i3 = 0;}
                                        @foreach (var order in ViewBag.Order3)
                                        {
                                        <tr>
                                            <td data-purchase="item"> @{i3++;} @i3</td>
                                            <td data-purchase="bid price">@order.ID</td>
                                            <td data-purchase="highest bid"><a href="@Url.Action("Details", "ProductAuction", new { id = order.Auction.ProductAuction.ID })"><img src="@order.Auction.ProductAuction.Image" style="width:70px" /></a></td>
                                            @{
                                                Order od = new Order();
                                                var st_value = od.OrderSt(order.status);
                                                var st_class = od.OrderStClass(order.status);
                                            }
                                        <td data-purchase="lowest bid">$@Convert.ToDecimal(order.TotalPrice).ToString("#,##0.0")</td>
                                            <td data-purchase="expires"><span class="@st_class">@st_value</span></td>
                                            <td>
                                                @if (order.status == 0)
                                                {
                                                <p onclick="GetOrder(@order.ID)" class="btn  btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                                                    Order
                                                </p>
                                                }

                                            </td>
                                        </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            @*  st4*@
                            <div class="tab-pane show fade" id="st4">
                                <table class="purchasing-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Orders code</th>
                                            <th>Product Auction</th>
                                            <th>Total Price</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int i4 = 0;}
                                        @foreach (var order in ViewBag.Order4)
                                        {
                                        <tr>
                                            <td data-purchase="item"> @{i4++;} @i4</td>
                                            <td data-purchase="bid price">@order.ID</td>
                                            <td data-purchase="highest bid"><a href="@Url.Action("Details", "ProductAuction", new { id = order.Auction.ProductAuction.ID })"><img src="@order.Auction.ProductAuction.Image" style="width:70px" /></a></td>
                                            @{
                                                Order od = new Order();
                                                var st_value = od.OrderSt(order.status);
                                                var st_class = od.OrderStClass(order.status);
                                            }
                                        <td data-purchase="lowest bid">$@Convert.ToDecimal(order.TotalPrice).ToString("#,##0.0")</td>
                                            <td data-purchase="expires"><span class="@st_class">@st_value</span></td>
                                            <td>
                                                @if (order.status == 0)
                                                {
                                                <p onclick="GetOrder(@order.ID)" class="btn  btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                                                    Order
                                                </p>
                                                }

                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.PagedListPager((IPagedList)ViewBag.OrderAll, page => Url.Action("MyOrder", new { id = (Session["loginCustomer"] as Customer).ID, page }))
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-7">
                        <h5 class="modal-title" id="exampleModalLabel"> Add New</h5>

                    </div>
                    <div class="col-md-5">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </div>

            </div>
            @using (Html.BeginForm("AddCate", "Category", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formAdd" }))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label>Category name:</label>
                        <input type="text" name="cateName" class="form-control" placeholder="Enter category name">
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Save</button>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script>

         $(function () {
                    var sss = '@TempData["Success"]';
                    var err = '@TempData["Errors"]';
                    console.log(sss);
             if (sss != '') {
                 alert(sss);
                    swal(sss, "Hãy xác nhận để tiếp tục!", "success");
                    }
             if (err != '') {
                 alert(err);
                    swal(err, "...and here's the text!");
             }

         })
        function GetOrder(id) {
            $.ajax({
                type: 'GET',
                url: '../UpdateOrder/' + id,
                success: function (res) {
                    $("#exampleModal").html(res);
                }
            })
        }

    </script>
}

