﻿
@{
    ViewBag.Title = "UpdateOrder";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="hero-section">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <span>Contact Us</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="https://localhost:44376/Assets/assets/images/banner/hero-bg.png" style="background-image: url(&quot;https://localhost:44376/Assets/assets/images/banner/hero-bg.png&quot;);"></div>
</div>
<section class="contact-section padding-bottom">
    <div class="container">
        <div class="contact-wrapper padding-top padding-bottom mt--100 mt-lg--440" style="padding-right:40px;">
            <div class="section-header">
                <h5 class="cate">Con</h5>
                <h2 class="title">get in touch</h2>
                <p>We'd love to hear from you! Let us know how we can help.</p>
            </div>
            
                <div class="row">
                    <div class="col-12">
                        <div class="dash-pro-item mb-30 dashboard-widget">
                            <div class="header">
                                <h4 class="title">Personal Details</h4>
                              
                            </div>
                            <ul class="dash-pro-body">
                                <li>
                                    <div class="info-name">Name</div>
                                    <div class="info-value">Albert Owens</div>
                                </li>
                                <li>
                                    <div class="info-name">Date of Birth</div>
                                    <div class="info-value">15-03-1974</div>
                                </li>
                                <li>
                                    <div class="info-name">Address</div>
                                    <div class="info-value">8198 Fieldstone Dr.La Crosse, WI 54601</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                   
                </div>
           
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    @using (Html.BeginForm("UpdateOrder", "Customer", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formAdd", @Class = "contact-form" }))
                    {

                        <div class="form-group">
                            <label for="name"><i class="far fa-user"></i></label>
                            <input type="text" placeholder="Your Name" name="name" id="name">
                        </div>

                        <div class="form-group">
                            <label>Mã Đơn Hàng:</label>
                            <input type="text" readonly="" name="id" class="form-control" value="@ViewBag.OrderData.ID" placeholder="Enter Receiver">
                        </div>
                        <div class="form-group">
                            <label>Người nhận:</label>
                            <input type="text" name="receiver" class="form-control" placeholder="Enter Receiver">
                        </div>
                        <div class="form-group">
                            <label>Email:</label>
                            <input type="text" name="email" class="form-control" placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <label>Số điện thoại nhận hàng:</label>
                            <input type="number" name="phone" class="form-control" placeholder="Enter Phone">
                        </div>
                        <div class="form-group">
                            <label>Ghi chú:</label>
                            <textarea name="note" placeholder="Your notes"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Hình thức thanh toán:</label>
                            <select name="payment" class="form-control">
                                <option value="1">Giao Hàng Thanh Toán</option>
                                <option value="2">Online</option>
                            </select>
                        </div>



                        <div class="form-group text-center mb-0">
                            <button type="submit" class="custom-button">Send Order</button>
                        </div>
                    }
                </div>
                <div class="col-xl-4 col-lg-5 d-lg-block d-none">
                    
                </div>
            </div>
        </div>
    </div>
</section>

