﻿@using CustomerClient.Models.Entity
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="cart-sidebar-area">
    <div class="top-content">
        <a href="index.html" class="logo">
            <img src="~/Assets/assets/images/logo/logo2.png" alt="logo">
        </a>
        <span class="side-sidebar-close-btn"><i class="fas fa-times"></i></span>
    </div>
   
</div>

<div class="hero-section style-2">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">Home</a>
            </li>
           
            <li>
                <span>Vehicles</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="https://localhost:44376/Assets/assets/images/banner/hero-bg.png" style="        background-image: url(&quot;https://localhost:44376/Assets/assets/images/banner/hero-bg.png&quot;);"></div>
</div>

<section class="product-details padding-bottom mt--240 mt-lg--440">
    <div class="container">
        <div class="product-details-slider-top-wrapper align-center">
            <div class="product-details-slider owl-theme owl-carousel owl-loaded owl-drag" id="sync1">
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(210px, 0px, 0px); transition: all 0s ease 0s; width: 13680px;">

                        <div class="owl-item active" style="width: 700px;">
                            <div class="slide-top-item">
                                <div class="slide-inner">

                                    @if (ViewBag.DetailProAuction.Image == null)
                                    {
                                        <img src="~/Assets/assets/images/auction/upcoming/upcoming-1.png" alt="product">
                                    }
                                    else
                                    {
                                        <img src="@ViewBag.DetailProAuction.Image" style="height:500px;" alt="product">

                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="row mt-40-60-80">
            <div class="col-lg-8">
                <div class="product-details-content">
                    <div class="product-details-header">
                        <h2 class="title">@ViewBag.DetailProAuction.ProName</h2>
                        <ul>

                            <li>Item #: @ViewBag.DetailProAuction.ID</li>
                        </ul>
                    </div>
                    @{
                        @*float p = Model.StartingPrice + 20;*@
                    float p = 0;
                    float price_present = 0;
                    if (ViewBag.ProAuction == null)
                    {
                        p = ViewBag.DetailProAuction.StartingPrice + ViewBag.DetailProAuction.PriceStep;
                        price_present = ViewBag.DetailProAuction.StartingPrice;
                    }
                    else
                    {
                        p = ViewBag.ProAuction.Price + ViewBag.DetailProAuction.PriceStep;
                        price_present = ViewBag.ProAuction.Price;
                    }

                    }
                <ul class="price-table mb-30">
                    <li class="header">
                        <h5 class="current">Current Price</h5>

                        <h3 class="price">US @Convert.ToDecimal(price_present).ToString("#,##0.0")</h3>


                    </li>
                    <li>
                        <span class="details">Origin:</span>
                        <h5 class="info">@ViewBag.DetailProAuction.Origin</h5>
                    </li>
                    <li>
                        <span class="details">Brand:</span>
                        <h5 class="info">@ViewBag.Brand.BrandName</h5>
                    </li>
                    <li>
                        <span class="details">Starting price:</span>
                        <h5 class="info">$@Convert.ToDecimal(ViewBag.DetailProAuction.StartingPrice).ToString("#,##0.0")</h5>
                    </li>
                    <li>
                        <span class="details">Price step:</span>
                        <h5 class="info">$@Convert.ToDecimal(ViewBag.DetailProAuction.PriceStep).ToString("#,##0.0")</h5>
                    </li>
                </ul>

                <div class="product-bid-area">
                    @if (ViewBag.DetailProAuction.Status == 1)
                    {


                        if (Session["loginCustomer"] != null)
                        {
                            using (Html.BeginForm("AddAution", "ProductAuction", FormMethod.Post, new { enctype = "multipart/form-data", @Class = "product-bid-form" }))
                            {
                                <input type="hidden" name="proId" value="@ViewBag.DetailProAuction.ID" />
                                <input type="hidden" name="custId" value="@((Session["loginCustomer"] as Customer).ID)" />
                                <div class="search-icon">
                                    <img src="~/Assets/assets/images/product/search-icon.png" alt="product">
                                </div>
                                <input type="number" name="price" step="@ViewBag.DetailProAuction.PriceStep" value="@p" />
                                <button type="submit" class="custom-button">ĐẤU GIÁ NGAY</button>

                            }
                        }
                        else
                        {
                            <div class="product-bid-form">
                                <div class="search-icon">
                                    <img src="~/Assets/assets/images/product/search-icon.png" alt="product">
                                </div>
                                <input type="number" name="price" step="@ViewBag.DetailProAuction.PriceStep" value="@p" />
                                <a href="@Url.Action("Login", "Home")" class="custom-button">ĐẤU GIÁ NGAY</a>
                            </div>

                        }
                    }
                    else if (ViewBag.DetailProAuction.Status == 0)
                    {
                     <p style="color:red;font-weight:bold;">The auction has not yet started</p>
                    }
                    else
                    {
                    <p style="color:red;font-weight:bold;">The auction has ended</p>
                    }

                </div>
                <div class="buy-now-area">
                    @if (ViewBag.DetailProAuction.Status == 1)
                    {
                        <a href="#0" data-toggle="modal" data-target="#exampleModal" class="custom-button">Buy Now: $@Convert.ToDecimal(ViewBag.DetailProAuction.PurchasingPrice).ToString("#,##0.0")</a>
                    }

                    <div class="share-area">
                        <span>Share to:</span>
                        <ul>
                            <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="product-sidebar-area">
                    <div class="product-single-sidebar mb-3">
                        @if (ViewBag.DetailProAuction.Status == 1)
                        {
                            <h6 class="title">This Auction Ends in:</h6>
                            <div class="countdown">
                                <div id="demo_@ViewBag.DetailProAuction.ID"></div>
                                <script>

                                    // Set the date we're counting down to
                                    var countDownDate_@ViewBag.DetailProAuction.ID = new Date("@ViewBag.DetailProAuction.EndDateTime").getTime();

                                    // Update the count down every 1 second
                                    var x_@ViewBag.DetailProAuction.ID = setInterval(function () {

                                        // Get today's date and time
                                        var now_@ViewBag.DetailProAuction.ID = new Date().getTime();

                                        // Find the distance between now and the count down date
                                        var distance_@ViewBag.DetailProAuction.ID = countDownDate_@ViewBag.DetailProAuction.ID - now_@ViewBag.DetailProAuction.ID;

                                        // Time calculations for days, hours, minutes and seconds
                                        var days_@ViewBag.DetailProAuction.ID = Math.floor(distance_@ViewBag.DetailProAuction.ID / (1000 * 60 * 60 * 24));
                                        var hours_@ViewBag.DetailProAuction.ID = Math.floor((distance_@ViewBag.DetailProAuction.ID % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                        var minutes_@ViewBag.DetailProAuction.ID = Math.floor((distance_@ViewBag.DetailProAuction.ID % (1000 * 60 * 60)) / (1000 * 60));
                                        var seconds_@ViewBag.DetailProAuction.ID = Math.floor((distance_@ViewBag.DetailProAuction.ID % (1000 * 60)) / 1000);

                                        // Display the result in the element with id="demo"
                                        document.getElementById("demo_@ViewBag.DetailProAuction.ID").innerHTML = days_@ViewBag.DetailProAuction.ID + "d " + hours_@ViewBag.DetailProAuction.ID + "h "
                                            + minutes_@ViewBag.DetailProAuction.ID + "m " + seconds_@ViewBag.DetailProAuction.ID + "s ";

                                        // If the count down is finished, write some text
                                        if (distance_@ViewBag.DetailProAuction.ID < 0) {
                                            clearInterval(x_@ViewBag.DetailProAuction.ID);
                                            docuproAuAuent.getElementById("demo_@ViewBag.DetailProAuction.ID").innerHTML = "EXPIRED";
                                        }
                                    }, 1000);
                                </script>
                            </div>
                        }
                        else if (ViewBag.DetailProAuction.Status == 0)
                        {
                            <h6 class="title">This Auction Starts in:</h6>
                            <div class="countdown">
                                <div id="demo_@ViewBag.DetailProAuction.ID"></div>
                                <script>

                                    // Set the date we're counting down to
                                    var countDownDate_@ViewBag.DetailProAuction.ID = new Date("@ViewBag.DetailProAuction.StartDateTime").getTime();

                                    // Update the count down every 1 second
                                    var x_@ViewBag.DetailProAuction.ID = setInterval(function () {

                                        // Get today's date and time
                                        var now_@ViewBag.DetailProAuction.ID = new Date().getTime();

                                        // Find the distance between now and the count down date
                                        var distance_@ViewBag.DetailProAuction.ID = countDownDate_@ViewBag.DetailProAuction.ID - now_@ViewBag.DetailProAuction.ID;

                                        // Time calculations for days, hours, minutes and seconds
                                        var days_@ViewBag.DetailProAuction.ID = Math.floor(distance_@ViewBag.DetailProAuction.ID / (1000 * 60 * 60 * 24));
                                        var hours_@ViewBag.DetailProAuction.ID = Math.floor((distance_@ViewBag.DetailProAuction.ID % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                        var minutes_@ViewBag.DetailProAuction.ID = Math.floor((distance_@ViewBag.DetailProAuction.ID % (1000 * 60 * 60)) / (1000 * 60));
                                        var seconds_@ViewBag.DetailProAuction.ID = Math.floor((distance_@ViewBag.DetailProAuction.ID % (1000 * 60)) / 1000);

                                        // Display the result in the element with id="demo"
                                        document.getElementById("demo_@ViewBag.DetailProAuction.ID").innerHTML = days_@ViewBag.DetailProAuction.ID + "d " + hours_@ViewBag.DetailProAuction.ID + "h "
                                            + minutes_@ViewBag.DetailProAuction.ID + "m " + seconds_@ViewBag.DetailProAuction.ID + "s ";

                                        // If the count down is finished, write some text
                                        if (distance_@ViewBag.DetailProAuction.ID < 0) {
                                            clearInterval(x_@ViewBag.DetailProAuction.ID);
                                            docuproAuAuent.getElementById("demo_@ViewBag.DetailProAuction.ID").innerHTML = "EXPIRED";
                                        }
                                    }, 1000);
                                </script>
                            </div>
                        }
                        else
                        {
                            <h6 class="title">This Auction Starts in:</h6>
                            <div class="countdown">
                                <div id="">The auction has ended</div>
                                </div>
                                }

                                <div class="side-counter-area">
                                    <div class="side-counter-item">
                                        <div class="thumb">
                                            <img src="~/Assets/assets/images/product/icon1.png" alt="product">
                                        </div>
                                        <div class="content">
                                            <h6 class="count-title"><span class="counter">@ViewBag.DetailProAuction.StartDateTime</span></h6>
                                            <p>Start date time</p>
                                        </div>
                                    </div>
                                    <div class="side-counter-item">
                                        <div class="thumb">
                                            <img src="~/Assets/assets/images/product/icon2.png" alt="product">
                                        </div>
                                        <div class="content">
                                            <h6 class="count-title"><span class="counter">@ViewBag.DetailProAuction.EndDateTime</span></h6>
                                            <p>End date time</p>
                                        </div>
                                    </div>
                                    <div class="side-counter-item">
                                        <div class="thumb">
                                            <img src="~/Assets/assets/images/product/icon3.png" alt="product">
                                        </div>
                                        <div class="content">
                                            <h3 class="count-title"><span class="counter">@ViewBag.TotalAution</span></h3>
                                            <p>Total Bids</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
            </div>
        </div>
    </div>
    <div class="product-tab-menu-area mb-40-60 mt-70-100">
        <div class="container">
            <ul class="product-tab-menu nav nav-tabs">
                <li>
                    <a href="#details" class="active" data-toggle="tab">
                        <div class="thumb">
                            <img src="~/Assets/assets/images/product/tab1.png" alt="product">
                        </div>
                        <div class="content">Description</div>
                    </a>
                </li>
                <li>
                    <a href="#delevery" data-toggle="tab">
                        <div class="thumb">
                            <img src="~/Assets/assets/images/product/tab2.png" alt="product">
                        </div>
                        <div class="content">Product parameters</div>
                    </a>
                </li>
                <li>
                    <a href="#history" data-toggle="tab">
                        <div class="thumb">
                            <img src="~/Assets/assets/images/product/tab3.png" alt="product">
                        </div>
                        <div class="content">Bid History (@ViewBag.TotalAution)</div>
                    </a>
                </li>
               
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="details">
                <div class="tab-details-content">
                    <div class="header-area">
                        @Html.Raw(ViewBag.DetailProAuction.Description)
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="delevery">
                <div class="shipping-wrapper">
                    <div class="item">
                        <h5 class="title">Product parameters</h5>
                        <div class="table-wrapper">
                            <table class="shipping-table">
                               
                                <tbody>
                                    @foreach (var paramAu in ViewBag.Parameter)
                                    {
                                        <tr>
                                            <td>@paramAu.ParameterName</td>
                                            <td>@paramAu.Value</td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="item">
                        <h5 class="title">Notes</h5>
                        <p>
                            Please carefully review our shipping and returns policy before committing to a bid.
                            From time to time, and at its sole discretion, Sbidu may change the prevailing fee structure for shipping and handling.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="history">
                <div class="history-wrapper">
                    <div class="item">
                        <h5 class="title">Bid History</h5>
                        <div class="history-table-area">
                            <table class="history-table">
                                <thead>
                                    <tr>
                                        <th>Bidder</th>
                                        <th>date/time</th>
                                        
                                        <th>unit price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var autionAll in ViewBag.ProAuctionAll)
                                    {
                                        <tr>
                                            <td data-history="bidder">
                                                <div class="user-info">
                                                    <div class="thumb">
                                                        @if (autionAll.Customer.Avatar == null)
                                                        {
                                                            <img src="~/Assets/assets/images/history/01.png" alt="history">

                                                        }
                                                        else
                                                        {
                                                            <img src="autionAll.Customer.Avatar" alt="history">
                                                        }
                                                    </div>
                                                    <div class="content">
                                                        @autionAll.Customer.FullName
                                                        @if (autionAll.Status == 5)
                                                        {
                                                            <span>(Buy now)</span>
                                                        }
                                                    </div>
                                                </div>
                                            </td>
                                            <td data-history="date"> @autionAll.Created</td>
                                            
                                            <td data-history="unit price">$@Convert.ToDecimal(autionAll.Price).ToString("#,##0.0")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>                          
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</section>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:900px !important;">
        <div class="modal-content" style="width:900px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Order New</h5>
            </div>
            @if (Session["loginCustomer"] != null)
            {
                using (Html.BeginForm("BuyNow", "ProductAuction", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formAdd", @Class = "contact-form" }))
                {
                    <div class="modal-body">
                        <input type="hidden" name="custome_id" value="@((Session["loginCustomer"] as Customer).ID)" />
                        <input type="hidden" name="total_price" value="@ViewBag.DetailProAuction.PurchasingPrice" />
                        <input type="hidden" readonly="" name="pro_id" class="form-control" value="@ViewBag.DetailProAuction.ID" placeholder="Enter Receiver">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label><i class="fas fa-envelope-open-text"></i></label>
                                    <input type="email" name="email" placeholder="Enter Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label><i class="far fa-user"></i></label>
                                    <input type="text" name="receiver" placeholder="Enter Receiver ..">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label><i class="fas fa-envelope-open-text"></i></label>
                                    <input type="number" name="phone" placeholder="Enter Phone">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="message" style="margin-top:15px;"><i class="far fa-envelope"></i></label>
                                    <select name="payment" id="message" style="padding: 5px 50px 0;height: 60px;border-bottom: 1px solid #bccaea !important;border:0px">
                                        <option value="1">Giao Hàng Thanh Toán</option>
                                        <option value="2">Thanh Toán Online</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="message"><i class="far fa-envelope"></i></label>
                            <textarea name="note" id="message" placeholder="Note your..."></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group  mb-0">
                                        <button type="submit" class="custom-button">Send Order</button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group  mb-0 text-right">
                                        <button type="button" class="custom-button" style="background: -webkit-linear-gradient(90deg, #f53d3d 0%, #683df5 100%);" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="modal-body">
                    <p>Hay dang nhap de mua hang</p>
                    </div>
                }
            </div>
        </div>
</div>
@section scripts {
    <script>
        var validFrm;
         $(function () {
                    var sss = '@TempData["Success"]';
             var err = '@TempData["errors"]';
             

             if (sss != '') {

                    swal(sss, "Hãy xác nhận để tiếp tục!", "success");
                    }
             if (err != '') {

                    swal(err, "...and here's the text!");
             };

             validFrm = $("#formAdd").validate({
                 rules: {
                     email:'required',
                     receiver:'required',
                     phone:'required',
                     payment:'required',
                    
                 },
                 message: {
                     email: {
                         required: 'Email không được để trống..'
                     },
                     receiver: {
                         required: 'Tên người nhận hàng không được để trống..'
                     },
                     phone: {
                         required: 'SĐT nhận hàng không được để trống..'
                     },
                     payment: {
                         required: 'Hãy chọn hình thức thanh toán..'
                     },
                   
                 }
             })
         })
    </script>
}

