﻿@using PagedList;
@using PagedList.Mvc;
@using CustomerClient.Models.Entity
@{
    ViewBag.Title = "GetProByCate";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="hero-section style-2">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">Home</a>
            </li>
           
            <li>
                <span>Auction</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="https://localhost:44376/Assets/assets/images/banner/hero-bg.png" style="        background-image: url(&quot;https://localhost:44376/Assets/assets/images/banner/hero-bg.png&quot;);"></div>
</div>

<section class="featured-auction-section padding-bottom mt--240 mt-lg--440 pos-rel">
    <div class="container">
        <div class="section-header cl-white mw-100 left-style">
            <h3 class="title">Bid on These Featured Auctions!</h3>
        </div>
        <div class="row justify-content-center mb-30-none">
            @foreach (var item_top_3 in ViewBag.ProTake3EndTm)
            {
                <div class="col-sm-10 col-md-6 col-lg-4">
                    <div class="auction-item-2">
                        <div class="auction-thumb">
                            <a href="product-details.html"><img src="@item_top_3.Image" style="height:200px;" alt="jewelry"></a>
                            <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
                        </div>
                        @{
                            Auction a = new Auction();
                            var dataAuction = a.AucPriceDESC(item_top_3.ID);
                            var countAuction = a.CountAucByProId(item_top_3.ID);

                        }
                        <div class="auction-content">
                            <h6 class="title" style="height:100px">
                                <a href="@Url.Action("Details", "ProductAuction", new { id = item_top_3.ID })">@item_top_3.ProName</a>
                            </h6>
                            <div class="bid-area">
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-auction"></i>
                                    </div>
                                    <div class="amount-content">
                                        <div class="current">Current Bid</div>
                                        @if (dataAuction != null)
                                        {
                                            <div class="amount">$@Convert.ToDecimal(dataAuction.Price).ToString("#,##0.0")</div>

                                        }
                                        else
                                        {
                                            <div class="amount">$@Convert.ToDecimal(item_top_3.StartingPrice).ToString("#,##0.0")</div>
                                        }
                                    </div>
                                </div>
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-money"></i>
                                    </div>
                                    <div class="amount-content">
                                        <div class="current">Buy Now</div>
                                        <div class="amount">$@Convert.ToDecimal(item_top_3.PurchasingPrice).ToString("#,##0.0") </div>
                                    </div>
                                </div>
                            </div>
                            <div class="countdown-area">
                                <div class="countdown">
                                    <div id="demo3_@item_top_3.ID"></div>
                                    @{
                                        <script>

                                    // Set the date we're counting down to
                                    var countDownDate_@item_top_3.ID = new Date("@item_top_3.EndDateTime").getTime();

                                    // Update the count down every 1 second
                                    var x_@item_top_3.ID = setInterval(function () {

                                        // Get today's date and time
                                        var now_@item_top_3.ID = new Date().getTime();

                                        // Find the distance between now and the count down date
                                        var distance_@item_top_3.ID = countDownDate_@item_top_3.ID - now_@item_top_3.ID;

                                        // Time calculations for days, hours, minutes and seconds
                                        var days_@item_top_3.ID = Math.floor(distance_@item_top_3.ID / (1000 * 60 * 60 * 24));
                                        var hours_@item_top_3.ID = Math.floor((distance_@item_top_3.ID % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                        var minutes_@item_top_3.ID = Math.floor((distance_@item_top_3.ID % (1000 * 60 * 60)) / (1000 * 60));
                                        var seconds_@item_top_3.ID = Math.floor((distance_@item_top_3.ID % (1000 * 60)) / 1000);

                                        // Display the result in the element with id="demo"
                                        document.getElementById("demo3_@item_top_3.ID").innerHTML = days_@item_top_3.ID + "d " + hours_@item_top_3.ID + "h "
                                            + minutes_@item_top_3.ID + "m " + seconds_@item_top_3.ID + "s ";

                                        // If the count down is finished, write some text
                                        if (distance_@item_top_3.ID < 0) {
                                            clearInterval(x_@item_top_3.ID);
                                            docuproAuAuent.getElementById("demo3_@item_top_3.ID").innerHTML = "End";
                                        }
                                    }, 1000);
                                        </script>

                                    }
                                </div>
                                <span class="total-bids">@countAuction Bids</span>
                            </div>
                            <div class="text-center">
                                <a href="@Url.Action("Details", "ProductAuction", new { id = item_top_3.ID })" class="custom-button">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>

<div class="product-auction padding-bottom">
    <div class="container">
        @using (Html.BeginForm("GetProByCate", "ProductAuction", FormMethod.Get, new { @Class = "product-header mb-40" }))
        {
            <input type="hidden" name="cateid" value="@ViewBag.CateId"/>
            <div class="product-header-item">
                <div class="item">Sort By : </div>
                <select name="sort_name" class="select-bar">
                    <option value="1">All</option>
                    <option value="2">Name</option>
                    <option value="3">End Date Time</option>
                </select>
            </div>
            <div class="product-header-item">
                <div class="item">Sort By : </div>
                <select name="sort_pro" class="select-bar">
                    <option value="0">-- Selection --</option>
                    <option value="1">Auction</option>
                    <option value="2">Upcoming</option>
                </select>
            </div>

            <div class="product-header-item">
                <div class="item">
                    <button class="btn btn-outline-primary btn-sm " style=" border-radius: 19px; height: 37px; padding: 0 20px;" type="submit">Search</button>
                </div>
            </div>
            <div class="product-search ml-auto">
            </div>
        }
        <div class="row mb-30-none justify-content-center">
            @foreach (var proAll in ViewBag.DataAllSt)
            {
                <div class="col-sm-10 col-md-6 col-lg-4">
                    <div class="auction-item-2">
                        <div class="auction-thumb">
                            <a href="@Url.Action("Details", "ProductAuction", new { id = proAll.ID })"><img src="@proAll.Image" height="250" alt="product"></a>

                            <a href="@Url.Action("Details", "ProductAuction", new { id = proAll.ID })" class="bid"><i class="flaticon-auction"></i></a>
                        </div>
                        <div class="auction-content">
                            <h6 class="title" style="height:100px">
                                <a href="@Url.Action("Details", "ProductAuction", new { id = proAll.ID })">@proAll.ProName</a>
                            </h6>
                            <div class="bid-area">
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-auction"></i>
                                    </div>
                                    @{
                                        Auction a = new Auction();
                                        var dataAuction = a.AucPriceDESC(proAll.ID);
                                        var countAuction = a.CountAucByProId(proAll.ID);

                                    }
                                    <div class="amount-content">
                                        <div class="current">Current Bid</div>
                                        @if (dataAuction != null)
                                        {
                                            <div class="amount">$@Convert.ToDecimal(dataAuction.Price).ToString("#,##0.0")</div>

                                        }
                                        else
                                        {
                                            <div class="amount">$@Convert.ToDecimal(proAll.StartingPrice).ToString("#,##0.0")</div>
                                        }
                                    </div>
                                </div>
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-money"></i>
                                    </div>
                                    <div class="amount-content">
                                        <div class="current">Buy Now</div>
                                        <div class="amount">$@Convert.ToDecimal(proAll.PurchasingPrice).ToString("#,##0.0")</div>
                                    </div>
                                </div>
                            </div>
                            <div class="countdown-area">
                                <div class="countdown">
                                    <div class="countdown">

                                        <div id="demo_@proAll.ID"></div>
                                        @if (proAll.Status == 1)
                                        {
                                            <script>

                                            // Set the date we're counting down to
                                            var countDownDate_@proAll.ID = new Date("@proAll.EndDateTime").getTime();

                                            // Update the count down every 1 second
                                            var x_@proAll.ID = setInterval(function () {

                                                // Get today's date and time
                                                var now_@proAll.ID = new Date().getTime();

                                                // Find the distance between now and the count down date
                                                var distance_@proAll.ID = countDownDate_@proAll.ID - now_@proAll.ID;

                                                // Time calculations for days, hours, minutes and seconds
                                                var days_@proAll.ID = Math.floor(distance_@proAll.ID / (1000 * 60 * 60 * 24));
                                                var hours_@proAll.ID = Math.floor((distance_@proAll.ID % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                                var minutes_@proAll.ID = Math.floor((distance_@proAll.ID % (1000 * 60 * 60)) / (1000 * 60));
                                                var seconds_@proAll.ID = Math.floor((distance_@proAll.ID % (1000 * 60)) / 1000);

                                                // Display the result in the element with id="demo"
                                                document.getElementById("demo_@proAll.ID").innerHTML = days_@proAll.ID + "d " + hours_@proAll.ID + "h "
                                                    + minutes_@proAll.ID + "m " + seconds_@proAll.ID + "s ";

                                                // If the count down is finished, write some text
                                                if (distance_@proAll.ID < 0) {
                                                    clearInterval(x_@proAll.ID);
                                                    docuproAuAuent.getElementById("demo_@proAll.ID").innerHTML = "UpCoomming";
                                                }
                                            }, 1000);
                                            </script>

                                        }
                                        else if (proAll.Status == 0)
                                        {
                                            <script>

                                            // Set the date we're counting down to
                                                var countDownDate_@proAll.ID = new Date("@proAll.StartDateTime").getTime();

                                            // Update the count down every 1 second
                                            var x_@proAll.ID = setInterval(function () {

                                                // Get today's date and time
                                                var now_@proAll.ID = new Date().getTime();

                                                // Find the distance between now and the count down date
                                                var distance_@proAll.ID = countDownDate_@proAll.ID - now_@proAll.ID;

                                                // Time calculations for days, hours, minutes and seconds
                                                var days_@proAll.ID = Math.floor(distance_@proAll.ID / (1000 * 60 * 60 * 24));
                                                var hours_@proAll.ID = Math.floor((distance_@proAll.ID % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                                var minutes_@proAll.ID = Math.floor((distance_@proAll.ID % (1000 * 60 * 60)) / (1000 * 60));
                                                var seconds_@proAll.ID = Math.floor((distance_@proAll.ID % (1000 * 60)) / 1000);

                                                // Display the result in the element with id="demo"
                                                document.getElementById("demo_@proAll.ID").innerHTML = days_@proAll.ID + "d " + hours_@proAll.ID + "h "
                                                    + minutes_@proAll.ID + "m " + seconds_@proAll.ID + "s ";

                                                // If the count down is finished, write some text
                                                if (distance_@proAll.ID < 0) {
                                                    clearInterval(x_@proAll.ID);
                                                    docuproAuAuent.getElementById("demo_@proAll.ID").innerHTML = "Ket Thuc";
                                                }
                                            }, 1000);
                                            </script>
                                        }
                                    </div>
                                </div>
                                <span class="total-bids">@countAuction Bids</span>
                            </div>
                            @if (proAll.Status == 1)
                            {
                                <div class="text-center">
                                    <a href="@Url.Action("Details", "ProductAuction", new { id = proAll.ID })" class="custom-button">Join Now</a>
                                </div>
                            }
                            else if (proAll.Status == 0)
                            {
                                <div class="text-center">
                                    <a href="#0" class="custom-button" style="background: -webkit-linear-gradient(90deg, #f53d3d 0%, #683df5 100%);">Upcoming</a>
                                </div>
                            }

                        </div>
                    </div>
                </div>

            }

        </div>
        @Html.PagedListPager((IPagedList)ViewBag.DataAllSt, page => Url.Action("GetAll", new { page }))

    </div>
</div>
@section scripts {
    <script>
         $(function () {
                    var sss = '@TempData["Success"]';
                    var err = '@TempData["errors"]';

             if (sss != '') {

                    swal(sss, "Hãy xác nhận để tiếp tục!", "success");
                    }
             if (err != '') {

                    swal(err, "...and here's the text!");
                    }
         })
    </script>
}



