﻿@model CustomerClient.Models.Entity.Feedback
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="hero-section">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">Home</a>
            </li>
            <li>
                <span>Contact Us</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="https://localhost:44376/Assets/assets/images/banner/hero-bg.png" style="background-image: url(&quot;https://localhost:44376/Assets/assets/images/banner/hero-bg.png&quot;);"></div>
</div>
<section class="contact-section padding-bottom">
    <div class="container">
        <div class="contact-wrapper padding-top padding-bottom mt--100 mt-lg--440">
            <div class="section-header">
                <h5 class="cate">Contact Us</h5>
                <h2 class="title">get in touch</h2>
                <p>We'd love to hear from you! Let us know how we can help.</p>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-7">

                    @using (Html.BeginForm("Feedback", "Home", FormMethod.Post, new { @Class = "contact-form",id="frm" }))
                    {
                    <div class="form-group">
                        <label for="name"><i class="far fa-user"></i></label>
                        <input type="text"  placeholder="Your Name" name="username" id="username">
                       
                    </div>
                    <div class="form-group">
                        <label for="name"><i class="fas fa-envelope-open-text"></i></label>
                        <input type="email"  placeholder="Enter Your Email ID" name="email" id="email">
                       
                    </div>
                    <div class="form-group">
                        <label for="message" class="message"><i class="far fa-envelope"></i></label>
                        <textarea name="message"  id="message" placeholder="Type Your Message"></textarea>
                       
                    </div>
                        <div class="form-group text-center mb-0">
                            <button type="submit" class="custom-button">Send Message</button>
                        </div>
                    }
                </div>
                <div class="col-xl-4 col-lg-5 d-lg-block d-none">
                    <img src="~/Assets/assets/images/contact.png" class="w-100" alt="images">
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    
    <script>
        var validFrm;
         $(function () {
                    var sss = '@TempData["Success"]';
             var err = '@TempData["errors"]';


             if (sss != '') {

                    swal(sss, "Hãy xác nhận để tiếp tục!", "success");
                    }
             if (err != '') {

                    swal(err, "...and here's the text!");
             };

             validFrm = $("#frm").validate({
                 rules: {
                     username: 'required',
                     email: 'required',
                     message:'required'
                 },
                 messages: {
                     username: {
                         required: 'Tên người dùng không được để trống..'
                     },
                     email: {
                         required:'Email không được để trống..'
                     },
                     message: {
                         required: 'Nội dung không được để trống..'
                     }
                 },
                
             })
         })
    </script>
}

