﻿@using CustomerClient.Models.Entity
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="cart-sidebar-area">
    <div class="top-content">
        <a href="index.html" class="logo">
            <img src="~/Assets/assets/images/logo/logo2.png" alt="logo">
        </a>
        <span class="side-sidebar-close-btn"><i class="fas fa-times"></i></span>
    </div>
    <div class="bottom-content">
        <div class="cart-products">
            <h4 class="title">Shopping cart</h4>
            <div class="single-product-item">
                <div class="thumb">
                    <a href="#0"><img src="~/Assets/assets/images/shop/shop01.jpg" alt="shop"></a>
                </div>
                <div class="content">
                    <h4 class="title"><a href="#0">Color Pencil</a></h4>
                    <div class="price"><span class="pprice">$80.00</span> <del class="dprice">$120.00</del></div>
                    <a href="#" class="remove-cart">Remove</a>
                </div>
            </div>
            <div class="single-product-item">
                <div class="thumb">
                    <a href="#0"><img src="~/Assets/assets/images/shop/shop02.jpg" alt="shop"></a>
                </div>
                <div class="content">
                    <h4 class="title"><a href="#0">Water Pot</a></h4>
                    <div class="price"><span class="pprice">$80.00</span> <del class="dprice">$120.00</del></div>
                    <a href="#" class="remove-cart">Remove</a>
                </div>
            </div>
            <div class="single-product-item">
                <div class="thumb">
                    <a href="#0"><img src="~/Assets/assets/images/shop/shop03.jpg" alt="shop"></a>
                </div>
                <div class="content">
                    <h4 class="title"><a href="#0">Art Paper</a></h4>
                    <div class="price"><span class="pprice">$80.00</span> <del class="dprice">$120.00</del></div>
                    <a href="#" class="remove-cart">Remove</a>
                </div>
            </div>
            <div class="single-product-item">
                <div class="thumb">
                    <a href="#0"><img src="~/Assets/assets/images/shop/shop04.jpg" alt="shop"></a>
                </div>
                <div class="content">
                    <h4 class="title"><a href="#0">Stop Watch</a></h4>
                    <div class="price"><span class="pprice">$80.00</span> <del class="dprice">$120.00</del></div>
                    <a href="#" class="remove-cart">Remove</a>
                </div>
            </div>
            <div class="single-product-item">
                <div class="thumb">
                    <a href="#0"><img src="~/Assets/assets/images/shop/shop05.jpg" alt="shop"></a>
                </div>
                <div class="content">
                    <h4 class="title"><a href="#0">Comics Book</a></h4>
                    <div class="price"><span class="pprice">$80.00</span> <del class="dprice">$120.00</del></div>
                    <a href="#" class="remove-cart">Remove</a>
                </div>
            </div>
            <div class="btn-wrapper text-center">
                <a href="#0" class="custom-button"><span>Checkout</span></a>
            </div>
        </div>
    </div>
</div>


<!--============= Banner Section Starts Here =============-->
<section class="banner-section-2 bg_img" data-background="@ViewBag.Banner.Image">
    <div class="container">
        <div class="row align-items-center justify-content-between align-items-center">
            <div class="col-lg-6 col-xl-6">
                <div class="banner-content cl-white">
                    <h5 class="cate">Enjoy Exclusive</h5>
                    <h1 class="title"><span class="d-xl-block">Hot Deal</span> For You</h1>
                    <p>
                        @ViewBag.Banner.Description
                    </p>
                    <a href="@Url.Action("GetAll","ProductAuction")" class="custom-button yellow btn-large">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 d-none d-lg-block">
                <div class="banner-thumb">
                    <img src="~/Assets/assets/images/banner/banner-2.png" alt="banner">
                </div>
            </div>
        </div>
    </div>
    <div class="banner-shape-2 d-none d-lg-block">
        <img src="~/Assets/assets/css/img/banner-shape-2.png" alt="css">
    </div>
</section>
<!--============= Banner Section Ends Here =============-->
<!--============= Hightlight Slider Section Starts Here =============-->
<div class="browse-slider-section mt--140">
    <div class="container">
        <div class="section-header-2 mb-4">
            <div class="left">
                <h6 class="title cl-white cl-lg-black pl-0">Browse the highlights</h6>
            </div>
            <div class="slider-nav">
                <a href="#0" class="bro-prev"><i class="flaticon-left-arrow"></i></a>
                <a href="#0" class="bro-next active"><i class="flaticon-right-arrow"></i></a>
            </div>
        </div>
        <div class="m--15">
            <div class="browse-slider owl-theme owl-carousel">
                @foreach (var cate in ViewBag.Category)
                {
                    <a href="@Url.Action("GetProByCate","ProductAuction",new { cateid = cate.ID })" class="browse-item">
                        <img src="@cate.Image" alt="auction">
                        <span class="info">@cate.CateName</span>
                    </a>
                }
            </div>
        </div>
    </div>
</div>
<!--============= Hightlight Slider Section Ends Here =============-->
<!--============= Feture Auction Section Starts Here =============-->
<section class="feature-auction-section padding-bottom padding-top bg_img" data-background="https://localhost:44376/Assets/assets/images/auction/featured/featured-bg-1.jpg" style="        background-image: url(&quot;https://localhost:44376/Assets/assets/images/auction/featured/featured-bg-1.jpg&quot;);">
    <div class="container">
        <div class="section-header">
            <h2 class="title">Featured Items</h2>
            <p>Bid and win great deals,Our auction process is simple, efficient, and transparent.</p>
        </div>
        <div class="row justify-content-center mb-30-none">
            @foreach (var item_top_3 in ViewBag.ProTake3EndTm)
            {
                <div class="col-sm-10 col-md-6 col-lg-4">
                    <div class="auction-item-2">
                        <div class="auction-thumb">
                            <a href="product-details.html"><img src="@item_top_3.Image" style="height:200px;" alt="jewelry"></a>
                            <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
                        </div>
                        @{
                            Auction a = new Auction();
                            var dataAuction = a.AucPriceDESC(item_top_3.ID);
                            var countAuction = a.CountAucByProId(item_top_3.ID);

                        }
                        <div class="auction-content">
                            <h6 class="title" style="height:100px">
                                <a href="@Url.Action("Details", "ProductAuction", new { id = item_top_3.ID })">@item_top_3.ProName</a>
                            </h6>
                            <div class="bid-area">
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-auction"></i>
                                    </div>
                                    <div class="amount-content">
                                        <div class="current">Current Bid</div>
                                        @if (dataAuction != null)
                                        {
                                            <div class="amount">$@Convert.ToDecimal(dataAuction.Price).ToString("#,##0.0")</div>

                                        }
                                        else
                                        {
                                            <div class="amount">$@Convert.ToDecimal(item_top_3.StartingPrice).ToString("#,##0.0")</div>
                                        }
                                    </div>
                                </div>
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-money"></i>
                                    </div>
                                    <div class="amount-content">
                                        <div class="current">Buy Now</div>
                                        <div class="amount">$@Convert.ToDecimal(item_top_3.PurchasingPrice).ToString("#,##0.0") </div>
                                    </div>
                                </div>
                            </div>
                            <div class="countdown-area">
                                <div class="countdown">
                                    <div id="demo3_@item_top_3.ID"></div>
                                    @{
                                        <script>

                                    // Set the date we're counting down to
                                    var countDownDate_@item_top_3.ID = new Date("@item_top_3.EndDateTime").getTime();

                                    // Update the count down every 1 second
                                    var x_@item_top_3.ID = setInterval(function () {

                                        // Get today's date and time
                                        var now_@item_top_3.ID = new Date().getTime();

                                        // Find the distance between now and the count down date
                                        var distance_@item_top_3.ID = countDownDate_@item_top_3.ID - now_@item_top_3.ID;

                                        // Time calculations for days, hours, minutes and seconds
                                        var days_@item_top_3.ID = Math.floor(distance_@item_top_3.ID / (1000 * 60 * 60 * 24));
                                        var hours_@item_top_3.ID = Math.floor((distance_@item_top_3.ID % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                        var minutes_@item_top_3.ID = Math.floor((distance_@item_top_3.ID % (1000 * 60 * 60)) / (1000 * 60));
                                        var seconds_@item_top_3.ID = Math.floor((distance_@item_top_3.ID % (1000 * 60)) / 1000);

                                        // Display the result in the element with id="demo"
                                        document.getElementById("demo3_@item_top_3.ID").innerHTML = days_@item_top_3.ID + "d " + hours_@item_top_3.ID + "h "
                                            + minutes_@item_top_3.ID + "m " + seconds_@item_top_3.ID + "s ";

                                        // If the count down is finished, write some text
                                        if (distance_@item_top_3.ID < 0) {
                                            clearInterval(x_@item_top_3.ID);
                                            docuproAuAuent.getElementById("demo3_@item_top_3.ID").innerHTML = "End";
                                        }
                                    }, 1000);
                                        </script>

                                    }
                                </div>
                                <span class="total-bids">@countAuction Bids</span>
                            </div>
                            <div class="text-center">
                                <a href="@Url.Action("Details", "ProductAuction", new { id = item_top_3.ID })" class="custom-button">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
        <div class="load-wrapper">
            <a href="@Url.Action("GetAll","ProductAuction")" class="normal-button">See All Auction</a>
        </div>
    </div>
</section>
<!--============= Feture Auction Section Ends Here =============-->
<!--============= Upcoming Auction Section Starts Here =============-->
<section class="upcoming-auction padding-bottom" >
    <div class="container">
        <div class="section-header">
            <h2 class="title">Upcoming Auctions</h2>
            <p>You are welcome to attend and join in the action at any of our upcoming auctions.</p>
        </div>
    </div>
    <div class="filter-wrapper">
        <div class="container">
            <ul class="filter">
                <li class="active" data-check="*">
                    <span><i class="flaticon-right-arrow"></i>All</span>
                </li>

                <li data-check=".time">
                    <span><i class="flaticon-time"></i>Live Auction</span>
                </li>
                <li data-check=".live">
                    <span><i class="flaticon-auction"></i>Upcomming</span>
                </li>

            </ul>
        </div>
    </div>
    <div class="container">
        <div class="m--15">
            <div class="auction-wrapper-5">
                @foreach (var proAll in ViewBag.ProAuAll)
                {
                    <div class="auction-item-5 time " style="margin-top:20px;">
                        <div class="auction-inner">
                            <div class="upcoming-badge" title="Upcoming Auction">
                                <i class="flaticon-auction"></i>
                            </div>
                            <div class="auction-thumb">
                                @if (proAll.Image == null)
                                {
                                    <a href="@Url.Action("Details", "ProductAuction", new { id = proAll.ID })"><img src="~/Assets/assets/images/auction/upcoming/upcoming-1.png" alt="car"></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Details", "ProductAuction", new { id = proAll.ID })"><img src="@proAll.Image" style="height:200px;" alt="car"></a>

                                }
                               
                            </div>
                            <div class="auction-content">
                                <div class="title-area">
                                    <h6 class="title">
                                        <a href="@Url.Action("Details", "ProductAuction", new { id = proAll.ID })">@proAll.ProName</a>
                                    </h6>
                                    <div class="list-area">
                                        <span class="list-item">
                                            <span class="list-id">Item #</span>@proAll.ID
                                        </span>
                                    </div>
                                </div>
                                <div class="bid-area">
                                    <div class="bid-inner">
                                        <div class="bid-amount">
                                            <div class="icon">
                                                <i class="flaticon-auction"></i>
                                            </div>
                                            @{
                                                Auction a = new Auction();
                                                var dataAuction = a.AucPriceDESC(proAll.ID);
                                                var countAuction = a.CountAucByProId(proAll.ID);

                                            }
                                            <div class="amount-content">
                                                <div class="current">Current Bid</div>
                                                @if (dataAuction != null)
                                                {
                                            <div class="amount">$@Convert.ToDecimal(dataAuction.Price).ToString("#,##0.0")</div>

                                                }
                                                else
                                                {
                                            <div class="amount">$@Convert.ToDecimal(proAll.StartingPrice).ToString("#,##0.0")</div>
                                                }
                                            </div>
                                        </div>
                                        <div class="bid-amount">
                                            <div class="icon">
                                                <i class="flaticon-money"></i>
                                            </div>
                                            <div class="amount-content">
                                                <div class="current">Buy Now</div>
                                                <div class="amount">$@Convert.ToDecimal(proAll.PurchasingPrice).ToString("#,##0.0") </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bid-count-area">
                                    <span class="item">
                                        <span class="left">Total Bids</span>@countAuction Bids
                                    </span>

                                </div>
                            </div>
                            <div class="auction-bidding">
                                <span class="bid-title">Bidding ends in</span>
                                <div class="countdown">

                                    <div id="demo_@proAll.ID"></div>
                                    @{
                                        <script>

                                    // Set the date we're counting down to
                                    var countDownDate_@proAll.ID = new Date("@proAll.EndDateTime").getTime();

                                    // Update the count down every 1 second
                                    var x_@proAll.ID = setInterval(function () {

                                        // Get today's date and time
                                        var now_@proAll.ID = new Date().getTime();

                                        // Find the distance between now and the count down date
                                        var distance_@proAll.ID = countDownDate_@proAll.ID - now_@proAll.ID;

                                        // Time calculations for days, hours, minutes and seconds
                                        var days_@proAll.ID = Math.floor(distance_@proAll.ID / (1000 * 60 * 60 * 24));
                                        var hours_@proAll.ID = Math.floor((distance_@proAll.ID % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                        var minutes_@proAll.ID = Math.floor((distance_@proAll.ID % (1000 * 60 * 60)) / (1000 * 60));
                                        var seconds_@proAll.ID = Math.floor((distance_@proAll.ID % (1000 * 60)) / 1000);

                                        // Display the result in the element with id="demo"
                                        document.getElementById("demo_@proAll.ID").innerHTML = days_@proAll.ID + "d " + hours_@proAll.ID + "h "
                                            + minutes_@proAll.ID + "m " + seconds_@proAll.ID + "s ";

                                        // If the count down is finished, write some text
                                        if (distance_@proAll.ID < 0) {
                                            clearInterval(x_@proAll.ID);
                                            docuproAuAuent.getElementById("demo_@proAll.ID").innerHTML = "Ket Thuc";
                                        }
                                    }, 1000);
                                        </script>

                                    }
                                </div>
                                <div class="bid-incr">
                                    <span class="title">Bid Increment</span>
                                      @if (dataAuction != null)
                                        {
                                            <h4>$@Convert.ToDecimal(dataAuction.Price).ToString("#,##0.0")</h4>

                                        }
                                        else
                                        {
                                            <h4>$@Convert.ToDecimal(proAll.StartingPrice).ToString("#,##0.0")</h4>
                                        }
                                    
                                </div>
                                <a href="@Url.Action("Details", "ProductAuction", new { id = proAll.ID })" class="custom-button">Join Now</a>
                            </div>
                        </div>
                    </div>
                }
                @foreach (var proAll in ViewBag.ProAuSt0)
                {
                    <div class="auction-item-5  live" style="margin-top:20px;">
                        <div class="auction-inner">
                            <div class="upcoming-badge" title="Upcoming Auction">
                                <i class="flaticon-auction"></i>
                            </div>
                            <div class="auction-thumb">
                                @if (proAll.Image == null)
                                {
                                    <a href="@Url.Action("Details", "ProductAuction", new { id = proAll.ID })"><img src="~/Assets/assets/images/auction/upcoming/upcoming-1.png" alt="car"></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Details", "ProductAuction", new { id = proAll.ID })"><img src="@proAll.Image" style="height:200px;" alt="car"></a>

                                }
                                <a href="product-details.html" class="rating"><i class="far fa-star"></i></a>
                            </div>
                            <div class="auction-content">
                                <div class="title-area">
                                    <h6 class="title">
                                        <a href="@Url.Action("Details", "ProductAuction", new { id = proAll.ID })">@proAll.ProName</a>
                                    </h6>
                                    <div class="list-area">
                                        <span class="list-item">
                                            <span class="list-id">Item #</span>@proAll.ID
                                        </span>
                                    </div>
                                </div>
                                <div class="bid-area">
                                    <div class="bid-inner">
                                        <div class="bid-amount">
                                            <div class="icon">
                                                <i class="flaticon-auction"></i>
                                            </div>
                                            @{
                                                Auction a = new Auction();
                                                var dataAuction = a.AucPriceDESC(proAll.ID);
                                                var countAuction = a.CountAucByProId(proAll.ID);

                                            }
                                            <div class="amount-content">
                                                <div class="current">Current Bid</div>
                                                @if (dataAuction != null)
                                                {
                                                <div class="amount">$@Convert.ToDecimal(dataAuction.Price).ToString("#,##0.0")</div>

                                                }
                                                else
                                                {
                                                    <div class="amount">$@Convert.ToDecimal(proAll.StartingPrice).ToString("#,##0.0") </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="bid-amount">
                                            <div class="icon">
                                                <i class="flaticon-money"></i>
                                            </div>
                                            <div class="amount-content">
                                                <div class="current">Buy Now</div>
                                                <div class="amount">$@Convert.ToDecimal(proAll.PurchasingPrice).ToString("#,##0.0") </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bid-count-area">
                                    <span class="item">
                                        <span class="left">Total Bids</span>@countAuction Bids
                                    </span>

                                </div>
                            </div>
                            <div class="auction-bidding">
                                <span class="bid-title">Bidding starts in</span>
                                <div class="countdown">

                                    <div id="demo_@proAll.ID"></div>
                                    @{
                                        <script>

                                    // Set the date we're counting down to
                                    var countDownDate_@proAll.ID = new Date("@proAll.StartDateTime").getTime();

                                    // Update the count down every 1 second
                                    var x_@proAll.ID = setInterval(function () {

                                        // Get today's date and time
                                        var now_@proAll.ID = new Date().getTime();

                                        // Find the distance between now and the count down date
                                        var distance_@proAll.ID = countDownDate_@proAll.ID - now_@proAll.ID;

                                        // Time calculations for days, hours, minutes and seconds
                                        var days_@proAll.ID = Math.floor(distance_@proAll.ID / (1000 * 60 * 60 * 24));
                                        var hours_@proAll.ID = Math.floor((distance_@proAll.ID % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                        var minutes_@proAll.ID = Math.floor((distance_@proAll.ID % (1000 * 60 * 60)) / (1000 * 60));
                                        var seconds_@proAll.ID = Math.floor((distance_@proAll.ID % (1000 * 60)) / 1000);

                                        // Display the result in the element with id="demo"
                                        document.getElementById("demo_@proAll.ID").innerHTML = days_@proAll.ID + "d " + hours_@proAll.ID + "h "
                                            + minutes_@proAll.ID + "m " + seconds_@proAll.ID + "s ";

                                        // If the count down is finished, write some text
                                        if (distance_@proAll.ID < 0) {
                                            clearInterval(x_@proAll.ID);
                                            docuproAuAuent.getElementById("demo_@proAll.ID").innerHTML = "Ket Thuc";
                                        }
                                    }, 1000);
                                        </script>

                                    }
                                </div>
                                <div class="bid-incr">
                                    <span class="title">Bid Increment</span>
                                    @if (dataAuction != null)
                                    {
                                        <h4>$@Convert.ToDecimal(dataAuction.Price).ToString("#,##0.0")</h4>

                                    }
                                    else
                                    {
                                        <h4>$@Convert.ToDecimal(proAll.StartingPrice).ToString("#,##0.0")</h4>
                                    }

                                </div>
                                <a href="#0" class="custom-button" style="background: -webkit-linear-gradient(90deg, #f53d3d 0%, #683df5 100%);">Upcoming</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!--============= Upcoming Auction Section Ends Here =============-->
<!--============= How Section Starts Here =============-->
<section class="how-video-section pos-rel">
    <div class="popular-bg bg_img" data-background="https://localhost:44376/Assets/assets/images/auction/popular/popular-bg.png"></div>
    <div class="how-video-shape bg_img d-none d-md-block" data-background="https://localhost:44376/Assets/assets/css/img/how-video.png"></div>
    <div class="container">
        <div class="how-video-wrapper">
            <div class="how-video-area">
                <a href="https://www.youtube.com/watch?v=Mj3QejzYZ70" class="popup">
                    <h5 class="title">Watch Our Videos</h5>
                    <div class="video-button">
                        <i class="flaticon-right-arrow-1"></i>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>
        <div class="how-wrapper section-bg shadow-style">
            <div class="section-header text-lg-left">
                <h2 class="title">How it works</h2>
                <p>Easy 3 steps to win</p>
            </div>
            <div class="row justify-content-center mb--40">
                <div class="col-md-6 col-lg-4">
                    <div class="how-item">
                        <div class="how-thumb">
                            <img src="~/Assets/assets/images/how/how1.png" alt="how">
                        </div>
                        <div class="how-content">
                            <h4 class="title">Sign Up</h4>
                            <p>No Credit Card Required</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="how-item">
                        <div class="how-thumb">
                            <img src="~/Assets/assets/images/how/how2.png" alt="how">
                        </div>
                        <div class="how-content">
                            <h4 class="title">Bid</h4>
                            <p>Bidding is free Only pay if you win</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="how-item">
                        <div class="how-thumb">
                            <img src="~/Assets/assets/images/how/how3.png" alt="how">
                        </div>
                        <div class="how-content">
                            <h4 class="title">Win</h4>
                            <p>Fun - Excitement - Great deals</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============= How Section Ends Here =============-->
<!--============= Call In Section Starts Here =============-->
<section class="call-in-section padding-top">
    <div class="container">
        <div class="call-wrapper cl-white bg_img" data-background="https://localhost:44376/Assets/assets/images/call-in/call-bg.png">
            <div class="section-header">
                <h3 class="title">Register for Free & Start Bidding Now!</h3>
                <p>From cars to diamonds to iPhones, we have it all.</p>
            </div>
            <a href="sign-up.html" class="custom-button white">Register</a>
        </div>
    </div>
</section>
<!--============= Call In Section Ends Here =============-->
<!--============= Client Section Starts Here =============-->

@section scripts {
    <script>
         $(function () {
                    var sss = '@TempData["Success"]';
                    var err = '@TempData["errors"]';

             if (sss != '') {

                    swal(sss, "Hãy xác nhận để tiếp tục!", "success");
                    }
             if (err != '') {

                    swal(err, "...and here's the text!");
                    }
         })
    </script>
}