﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="cart-sidebar-area">
    <div class="top-content">
        <a href="index.html" class="logo">
            <img src="~/Assets/assets/images/logo/logo2.png" alt="logo">
        </a>
        <span class="side-sidebar-close-btn"><i class="fas fa-times"></i></span>
    </div>

</div>
<div class="hero-section">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="#0">Pages</a>
            </li>
            <li>
                <span>Sign In</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="https://localhost:44376/Assets/assets/images/banner/hero-bg.png" style="        background-image: url(&quot;https://localhost:44376/Assets/assets/images/banner/hero-bg.png&quot;);"></div>
</div>

<section class="account-section padding-bottom">
    <div class="container">
        <div class="account-wrapper mt--100 mt-lg--440">
            <div class="left-side">
                <div class="section-header">
                    <h2 class="title">HI, THERE</h2>
                    <p>You can log in to your Sbidu account here.</p>
                </div>

                @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @Class = "login-form",@Id= "frm" }))
                {


                    <div class="form-group mb-30">
                        <label for="login-email"><i class="far fa-envelope"></i></label>
                        <input type="email" id="email"  name="email" placeholder="Email của bạn">
                    </div>
                    <div class="form-group mb-30">
                        <label for="login-email"><i class="far fa-envelope"></i></label>
                        <input type="text" id="fullname"  name="fullname" placeholder="Họ tên đầy đủ">
                    </div>
                    <div class="form-group mb-30">
                        <label for="login-email"><i class="far fa-envelope"></i></label>
                        <input type="text" id="phonenumber"  name="phonenumber" placeholder="Số điện thoại">
                    </div>
                    <div class="form-group mb-30">
                        <label for="login-email"><i class="far fa-envelope"></i></label>
                        <input type="text" id="address"  name="address" placeholder="Đại chỉ">
                    </div>
                    <div class="form-group mb-30">
                        <label for="login-email"><i class="far fa-envelope"></i></label>
                        <input type="text" id="cmnd"  name="cmnd" placeholder="Căn cước công dân">
                    </div>
                    <div class="form-group">
                        <label for="login-pass"><i class="fas fa-lock"></i></label>
                        <input type="password" id="password" name="password" placeholder="Password">
                        <span class="pass-type"><i class="fas fa-eye"></i></span>
                    </div>

                    <div class="form-group mb-0">
                        <button type="submit" class="custom-button">Đăng Ký</button>
                    </div>
                }
            </div>
            <div class="right-side cl-white">
                <div class="section-header mb-0">
                    <h3 class="title mt-0">NEW HERE?</h3>
                    <p>Sign up and create your Account</p>
                    <a href="@Url.Action("Login","Home")" class="custom-button transparent">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    <script>
         $(function () {
                    var sss = '@TempData["Success"]';
                    var err = '@TempData["errors"]';
                   
                    if (sss != '') {
                    swal(sss, "Hãy xác nhận để tiếp tục!", "success");
                    }
                    if (err != '') {
                    swal(err, "...and here's the text!");
             }

             //validate
             validFrm = $("#frm").validate({
                 rules: {
                     fullname: 'required',
                     email: 'required',
                     phonenumber: 'required',
                     address: 'required',
                     cmnd: 'required',
                     password: 'required',
                 },
                 messages: {
                     fullname: {
                         required: 'Tên người dùng không được để trống..'
                     },
                     email: {
                         required: 'Email không được để trống..'
                     },
                     phonenumber: {
                         required: 'SĐT không được để trống..'
                     },
                     address: {
                         required: 'Địa chỉ không được để trống..'
                     },
                     cmnd: {
                         required: 'CMND không được để trống..'
                     },
                     password: {
                         required: 'Mật khẩu không được để trống..'
                     }
                 },

             })
         })
    </script>
}

