﻿
@{
    ViewBag.Title = "UserManuals";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="hero-section style-2">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="#0">Pages</a>
            </li>
            <li>
                <span>Faqs</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="https://localhost:44376/Assets/assets/images/banner/hero-bg.png" style="        background-image: url(&quot;https://localhost:44376/Assets/assets/images/banner/hero-bg.png&quot;);"></div>
</div>

<section class="contact-section padding-bottom">
    <div class="container">
        <div class="contact-wrapper padding-top padding-bottom mt--100 mt-lg--440" style="padding-right:40px !important;">
            <div class="section-header">
                <h5 class="cate">Customer support</h5>
                <h2 class="title">@ViewBag.Data.Title</h2>

            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.Raw(ViewBag.Data.Content)

                </div>
            </div>
        </div>
    </div>
</section>

